<div class="container">

  <form (ngSubmit)="processForm()">
 <div class="form group">
    <label for="name">Name</label>
<input type="text" name="name" class="form-control" [(ngModel)]="podcast.name">
</div>
<div class="form group">
  <label for="title">Title</label>
<input type="text" name="title" class="form-control" [(ngModel)]="podcast.title">
</div>
<div class="form group">
  <label for="linkvideo">Link to the Youtube video</label>
<input type="text" name="linkvideo" class="form-control" [(ngModel)]="podcast.linkvideo">
</div>
        <input type="submit" value="save" class="btn btn-success">
  </form>
</div>