 <!-- Header Area Start -->
 <header class="top">
  <div class="header-area header-sticky fixed">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="logo">
            <a  routerLink="/Home"><img src="assets/img/logo/logo.png" alt="Balalar" /></a>

          </div>
         

        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="content-wrapper one">
                            <!-- Main Menu Start -->
                            <div class="main-menu one text-right">
                                <nav>
                                    <ul>
                                        <li><a  routerLink="/Home">Home</a>
                                            <!-- <ul>
                                                <li><a  routerLink="index.html">Home One</a></li>
                                                <li><a  routerLink="index-2.html">Home Two</a></li>
                                                <li><a  routerLink="index-3.html">Home Three</a></li>
                                                <li><a  routerLink="index-4.html">Home Four</a></li>
                                                <li><a  routerLink="index-5.html">Home Five</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a  routerLink="/News">News</a>
                                            <!-- <ul>
                                                <li><a  routerLink="course.html">courses</a></li>
                                                <li><a  routerLink="course-details.html">courses details</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a  routerLink="/Podcast">Podcast</a>
                                            <!-- <ul>
                                                <li><a  routerLink="event.html">event</a></li>
                                                <li><a  routerLink="event-left-side-bar.html">event left sidebar</a></li>
                                                <li><a  routerLink="event-right-side-bar.html">event right sidebar</a></li>
                                                <li><a  routerLink="event-details.html">event details</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a  routerLink="/Blog">blog</a>
                                            <!-- <ul>
                                                <li><a  routerLink="blog.html">blog</a></li>
                                                <li><a  routerLink="blog-left-side-bar.html">blog left sidebar</a></li>
                                                <li><a  routerLink="blog-right-side-bar.html">blog righ sidebar</a></li>
                                                <li><a  routerLink="blog-details.html">blog details</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="hidden-sm"><a  routerLink="/Author">Author</a>
                                            <!-- <ul>
                                                <li><a  routerLink="teacher.html">teacher</a></li>
                                                <li><a  routerLink="teacher-details.html">teacher details</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a  routerLink="/About">About</a></li>
                                        <li><a  routerLink="/Contact">Contact</a></li>
                                       
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md one"></div>
                            <!-- Main Menu End -->
                        </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Area End -->