<div class="container">

  <form (ngSubmit)="processForm()">
 <div class="form group">
    <label for="title">Name</label>
<input type="text" name="title" class="form-control" [(ngModel)]="news.title">
</div>
<div class="form group">
  <label for="sumtext">Sum text</label>
<input type="text" name="conte" class="form-control" [(ngModel)]="news.sumtext">
</div>
<div class="form group">
  <label for="bigtext">Summary</label>
<input type="text" name="bigtext" class="form-control" [(ngModel)]="news.bigtext">
</div>
        <input type="submit" value="save" class="btn btn-success">
  </form>
</div>